.padding-top-50 {
  padding-top: 50px;
}

footer {
  width: 100%;
  border-top: 1px solid #e5e5e5;
  padding-top: 20px;
  padding-bottom: 20px;
}

footer#footer-lower {
  background-color: #f9f9f9;
  padding-bottom: 10px;
}

* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
      -ms-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  position: relative;
  min-height: 100%;
}

aside#sidebar-main {
  border-left: 1px solid #e5e5e5;
}

footer {
  width: 100%;
  border-top: 1px solid #e5e5e5;
  padding-top: 20px;
  padding-bottom: 20px;
}

footer#footer-lower {
  background-color: #f9f9f9;
  padding-bottom: 10px;
}

.caption-slide-bar {
  height: 20%;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: black;
  opacity: 0.8;
}

.caption-news {
  line-height: 50%;
  height: 10%;
  width: 100%;
  position: relative;
  bottom: 25%;
  left: 0;
  background-color: black;
  opacity: 0.7;
}

.caption-news a {
  color: white;
  font-weight: bold;
}

.pic {
  height: 190px;
  width: 360px;
  overflow: hidden;
}

.space-bottom {
  margin-bottom: 20px;
}

.zoom_img img{
  height: 190px;
  width: 360px;
 
  -webkit-transition: all 1s ease;
     -moz-transition: all 1s ease;
       -o-transition: all 1s ease;
      -ms-transition: all 1s ease;
          transition: all 1s ease;
  }

.zoom_img img:hover{
  transform: scale(1.2);
}

.large {
  float: center;
  margin-bottom: 20px;
}

.article-title {
  margin-bottom: 20px;
}

.like {
  padding-left: 65px;
}
.like-1 {
  padding-left: 130px;
}

.comment {
  padding-left: 10px;
}

.content-news {
  margin-bottom: 15px;
  text-align: justify;
}

.read-more:link {
  text-decoration: none;
}
.follower-me a {
  color: black;
}
.follower-me:hover {
  -webkit-animation: fadein 1s linear 1 normal forwards;
}
@-webkit-keyframes fadein{
    from { opacity: 1; }
    to { opacity: 0.7; }
}
.follower-me div {
  font-size: 12px;
}
.follower-me a div:first-child{
  width: 40%;
  padding-top: 40%;
  
  background-size: cover;
  -moz-background-size: cover;  /* Firefox 3.6 */
  background-position: center;  /* Internet Explorer 7/8 */

  
}
.padding-5 {
  padding-left: 5px;
  padding-top: 5px;
}
.title-img{
  width: 500px;
  height: 300px;
}
.title-news-1 {
  text-align: justify;
  margin-bottom: 10px;
}
.post-title{
  font-weight:500;
  font-size:20px;
}
div .post-content p:first-child {
  font-size: 16px;
  font-weight: 500px;
}
div .post-content p {
  margin-bottom: 20px;
}
div .post-content {
  font-weight:400;
  line-height:24px;
}

.img-wrapper {
    display: inline-block;
    overflow: hidden;
}

.img-wrapper img {
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -ms-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
    
    vertical-align: middle;
}

.img-wrapper img:hover {
    -webkit-transform:scale(1.2); /* Safari and Chrome */
    -moz-transform:scale(1.2); /* Firefox */
    -ms-transform:scale(1.2); /* IE 9 */
    -o-transform:scale(1.2); /* Opera */
    transform:scale(1.2);
}

.date-author-comment{
  opacity: 0.7; font-size:12px;
  margin-bottom: 20px;
}
.title-line {
  margin-bottom: 20px;
}
.line-orrange {
  border-top: 2px solid #FF6600;
}
.line-gray {
  border-top: 2px solid #555555;
}
.line-red {
  border-top: 1px solid #d9534f;
}
.line-blue {
  border-top: 1px solid #446280;
}
.title-comment{
  text-align: right;
}
.the-best-review div, .the-best-review ul {
  background-color: #EEEEEE;
}
.the-best-review-list li div{
  float: left;
  line-height: 24px;
}
.the-best-review-list li{
  padding-top: 7px;
  height: 40px;
  line-height: 40px;
  list-style: none;
}
.the-best-review-list li.boder-gray {
  border-top: 1px solid #BBBBBB;
}

.the-best-review-list .criterion .title {
  font-size: 16px;
}
.content-percentage {
  text-align: justify;
  padding-right: 20px;
}
.text-justify{
  text-align: justify;
}
.rate-review {
  height: 124px;
  text-align: center;
  padding-top: 30px;
  background-color: #E44E4F !important;
  color: #fff;
}
.rate{
  font-size: 46px;
}
.percentage {
  font-size: 20px;
}
.title-tbr{
  font-weight: 600;
  padding-left: 25px;
}

.post-author {
  background-color: #EEEEEE;
  margin-bottom: 20px;
}
.name-author {
  font-weight: bold;
  text-align: center;
  font-size: 20px;
  line-height: 35px;
  background-color:#555555;
}
.name-author a {
  color: white;
}
.rate-line {
  margin-bottom: 20px;
}
.link-red {
  color: #FF0000;
}
.social-share ul li {
  list-style: none;
}
.social-share a {
  color: white;
}
.social-share {
  height: 33px;
  line-height: 33px;
  margin-top : 20px;
  margin-bottom: 20px;
}
.social-share ul li {
  text-align: center;
  margin-left: 7px;
}
.social-share div ul li, .social-share div, .social-share span.share {
  float: left;
}
.social-share div ul li.facebook {
  background-color: #4a639f;
  width: 15%;
}
.social-share div ul li.twitter {
  background-color: #59c8ff;
  width: 14%;
}
.social-share div ul li.google {
  background-color: #e44e4f;
  width: 13%;
}
.social-share div ul li.printerest {
  background-color: #e44e4f;
  width: 15%;
}
.social-share div ul li.linkedin {
  background-color: #0266a0;
  width: 13%;
}
.social-share div ul li.tumblr {
  background-color: #3e5a70;
  width: 12%;
}
.social-share div ul li.email {
  background-color: #0c151c;
  width: 10%;
}

.next-prev {
  height: 117px;
  line-height: 30px;
  padding-top: 15px;
  background-color: #EEEEEE;
}
.next{
  text-align: right;
  float: right;
}
.title-next-pre {
  text-transform: uppercase;
  color: #e44e4f;
  font-weight: 600;
}

.comments-form div {
  height: 35px;
  border-bottom: 2px solid #446280;
}
.comments-form div h4 {
  width: 130px;
  height: 35px;
  line-height: 35px;
  text-align: center;
  background-color: #446280;
  color: white;
}
.comments-form form p:first-child {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 12px;
  font-weight: 600;
}
.post-comment {
  width: 130px;
  height: 35px;
  color: white;
  text-transform: uppercase;
  background-color: #e44e4f;
  float : right;
}
.date-time-full {
  opacity: 0.7; 
  font-size:12px;
  padding-bottom:5px;
}
.date-time-small {
  opacity: 0.7; 
  font-size:12px; 
  padding-top:5px; 
  padding-bottom:5px;
}
/*******************************************************************************
********************************************************************************
****************************** CSS FOR CATELOGY ********************************
********************************************************************************
*******************************************************************************/
.catelogy-block{
  margin-bottom: 5%;
}
.catelogy-term {
  text-align: justify;
}
.catelogy-term-img {
  max-width: 100%;
}
.catelogy-post-time-author{
  margin-top: 5px;
  margin-bottom: 5px;
}

div.column {
  /* The background image must be 800px wide */
  max-width: 800px;
}

figure.fixedratio {
  padding-top: 56.25%;  /* 450px/800px = 0.5625 */
  background-size: cover;
  -moz-background-size: cover;  /* Firefox 3.6 */
  background-position: center;  /* Internet Explorer 7/8 */
  transition: all 1s;
}
figure.fixedratio-footer {
  padding-top: 85%;
}

figure.fixedratio:hover {\
  -webkit-transform: scale(1.05, 1.05);
    transform: scale(1.05, 1.05);
}
figure.fixedratio:after {
    content: '';
    position: absolute;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    background-size: cover;
}
figure.author-fixedratio {
  padding-top: 100%;  /* 450px/800px = 0.5625 */
  background-size: cover;
  -moz-background-size: cover;  /* Firefox 3.6 */
  background-position: center;  /* Internet Explorer 7/8 */
}
.name-catelogy-red {
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;;
  font-size: 15px;
  line-height: 30px;
  background-color:#d9534f;
}
.name-catelogy-blue {
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;;
  font-size: 15px;
  line-height: 30px;
  background-color:#446280;
}
.name-catelogy-blue a, .name-catelogy-red a  {
  color: white;
}
/*

.name-catelogy-red:hover {
  -webkit-transition: background-color 0.3s linear;
  -moz-transition: background-color 0.3s linear;
  -o-transition: background-color 0.3s linear;
  -ms-transition: background-color 0.3s linear;
  transition: background-color 0.3s linear;
  background-color:#446280;
}
.name-catelogy-blue:hover {
  -webkit-transition: background-color 0.3s linear;
  -moz-transition: background-color 0.3s linear;
  -o-transition: background-color 0.3s linear;
  -ms-transition: background-color 0.3s linear;
  transition: background-color 0.3s linear;
  background-color:#d9534f;
}

*/

/*******************************************************************************
********************************************************************************
****************************** NAVBAR ******************************************
********************************************************************************
*******************************************************************************/
.nav-font-color {
  text-align: center;
  font-weight: 500;
  color: #ffffff;
}
.nav-background, .nav-home{
  background-color: #2c3f52;
}
.navbar {
  border-radius: 0;
}
.navbar-default {
  border: none;
  border-bottom: 2px solid #446280;
}
.alpha60:hover,
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus,
.navbar-nav .open .dropdown-menu > li > a:hover,
.navbar-nav .open .dropdown-menu > li > a:focus {
  background-color: #446280;
  margin-bottom: -2px;
  border-bottom: 2px solid #e15150;
}

/*******************************************************************************
********************************************************************************
****************************** CSS FOR FOOTER***********************************
********************************************************************************
*******************************************************************************/
#footer-large {
  background-color: #446280;
  text-align: justify;
  color: #FFF;
}
.footer-large-font {
  font-size: 15px;
  font-weight: 500;x
}
.title-footer{
  margin-top: -10px;
  color: #FFF;
  font-weight: 600;
  background-color: #2c3f52;
}
.title-footer h4 {
  text-align: center;
  line-height: 35px;
}
#footer-large img {
  max-width: 70%;
  margin-bottom: 12px;
}
#footer-lower,#footer-lower a {
  color: #FFF;
  font-weight: 600;
}
.submit-form-control {
  width: 75%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555555;
  background-color: #ffffff;
  background-image: none;
  border: 1px solid #cccccc;
  border-radius: 4px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.footer-flickr-image{
  border: solid 1px black;
}
.footer-flickr-image img {
  padding-left: 0px;
  width: 200%;
}
.my-col-sm {
  padding-left: 10px;
  padding-right: 10px;
}